header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
}

.logo--text {
  display: flex;
  align-items: center;
}

.logo--image {
  height: 3rem;
  margin-left: 1rem;
  margin-bottom: 2px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

.form--section {
  padding-top: 35px;
}

.form {
  font-family: "Karla", sans-serif;
  margin: 0 auto;
  max-width: 700px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.meme--image {
  padding-top: 17px;
  max-width: 700px;
  width: 80vw;
  display: block;
  margin: 0 auto;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  cursor: pointer;
}

.form--button:hover {
  background: linear-gradient(180.81deg, #711f8d 1.14%, #a818da 100%);
}

.form--button:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .logo--text {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}
