.meme {
  position: relative;
}

.meme--image {
  padding-top: 17px;
  max-width: 700px;
  width: 80vw;
  display: block;
  margin: 0 auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

@media only screen and (max-width: 768px) {
  .meme--text {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 425px) {
  .meme--text {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 350px) {
  .meme--text {
    font-size: 1em;
  }
}
